*.iml
.gradle
/.gradle
/.idea/
gradle
gradlew
gradlew.bat
*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
app/build/
/build/
PushSDK/build/
uikit/build/
vitamioRecorderLibrary/build/
wechatRecoderVideoLibrary/build/
/captures
.externalNativeBuild
